/**global css that append to the
end and able to overwrite site specific css**/
.password-helper {
  font-weight: bold;
  color: #0b254b;
  margin-bottom: 20px;
}
[placehold] {
  font-size: inherit;
}
