/*for the login page*/
.password-helper {
  font-weight: bold;
  color: #0b254b;
  margin-bottom: 20px; }

/*
Color
*/
/*
Unit setting
*/
.dashboard .total-balance {
  text-align: center; }

/*for the login page*/
.password-helper {
  font-weight: bold;
  color: #0b254b;
  margin-bottom: 20px; }

/*
Color
*/
/*
Unit setting
*/
.dashboard .total-balance {
  text-align: center; }

[role="tabpanel"] {
  transition: none; }

/*for the login page*/
.password-helper {
  font-weight: bold;
  color: #0b254b;
  margin-bottom: 20px; }

.user-ticker {
  position: static;
  background: #eee;
  border-top: 1px solid #ddd; }
  .user-ticker .inner {
    padding: 10px 0 0 10px; }
    .user-ticker .inner:after {
      content: "";
      display: table;
      clear: both; }

.dashboard section.main, .dashboard aside {
  margin-top: 15px;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  .dashboard section.main > section, .dashboard aside > section {
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 20px; }

.dashboard {
  background-color: #0a2142;
  /*
  Total Balance
  */
  /*
  banner
  */
  /*
  crypto
  */
  /*
  News
  **/ }
  .dashboard h4, .dashboard h5 {
    letter-spacing: 1px;
    position: relative; }
    .dashboard h4 a, .dashboard h5 a {
      color: #444; }
  .dashboard h4 {
    margin-bottom: 20px; }
  .dashboard h6 {
    font-size: 18px; }
  .dashboard table {
    width: 100%; }
  .dashboard td, .dashboard th {
    padding: 5px;
    border: none; }
  .dashboard th {
    background-color: #eee;
    padding: 0px;
    text-transform: uppercase;
    color: #999;
    font-size: 12px; }
  .dashboard td {
    padding: 5px 0; }
  .dashboard .actions.bar {
    margin-bottom: 5px; }
  .dashboard .btn-wrap a {
    font-size: 14px;
    text-transform: capitalize;
    display: block;
    padding: 10px 5px;
    background: #ccc;
    width: 100%;
    text-align: center; }
    .dashboard .btn-wrap a i {
      margin-right: 5px; }
    .dashboard .btn-wrap a.primary {
      background: #428bca;
      color: #f2f2f2; }
    .dashboard .btn-wrap a.secondary {
      background: #999;
      color: white; }
    .dashboard .btn-wrap a.open {
      border: 1px solid #ddd;
      background: none;
      padding: 8px 0;
      padding-bottom: 7px;
      line-height: 24px;
      color: #666;
      font-size: 24px;
      outline: none; }
  .dashboard div.label {
    padding: 0px;
    text-transform: uppercase;
    color: #999;
    display: block;
    text-align: left; }
  .dashboard small {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 5px; }
  .dashboard .total-balance {
    padding: 15px; }
    .dashboard .total-balance strong {
      padding-left: 10px; }
  .dashboard figure {
    position: relative;
    margin-bottom: 20px; }
    .dashboard figure .btn-wrap {
      padding-right: 5px; }
      .dashboard figure .btn-wrap:last-child {
        padding-right: 0; }
    .dashboard figure .number {
      padding-bottom: 10px;
      text-align: right; }
    .dashboard figure .simple, .dashboard figure .expand {
      padding: 10px; }
    .dashboard figure .simple {
      background: white;
      z-index: 100; }
      .dashboard figure .simple strong {
        font-size: 28px; }
        .dashboard figure .simple strong span {
          font-size: 22px; }
    .dashboard figure .expand {
      text-align: right;
      background: #e2e2e2;
      padding: 10px; }
      .dashboard figure .expand .label {
        text-align: right; }
  .dashboard section.trade.history thead, .dashboard section.transfer.notification thead {
    display: none; }
  .dashboard section.trade.history tr, .dashboard section.transfer.notification tr {
    display: table;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 10px 0; }
  .dashboard section.trade.history td, .dashboard section.transfer.notification td {
    display: table-row; }
  .dashboard section.trade.history strong, .dashboard section.trade.history span, .dashboard section.transfer.notification strong, .dashboard section.transfer.notification span {
    display: table-cell;
    padding: 5px 0; }
  .dashboard section.trade.history span, .dashboard section.transfer.notification span {
    text-align: right; }
  .dashboard .user-actions {
    min-height: initial;
    height: initial;
    background-color: #f2f2f2; }
    .dashboard .user-actions article {
      padding: 40px 20px;
      text-align: center; }
      .dashboard .user-actions article p {
        font-size: 16px;
        margin-bottom: 20px; }
      .dashboard .user-actions article span {
        padding: 0 10px;
        display: block; }
      .dashboard .user-actions article .btn.btn-default {
        background: #ccc;
        color: #444;
        border: none; }
      .dashboard .user-actions article .btn {
        margin: 10px 0;
        padding: 15px 20px; }
  .dashboard section.news ul {
    padding-left: 0px;
    list-style: none; }
  .dashboard section.news li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 20px; }
    .dashboard section.news li time {
      color: #666;
      display: block;
      margin-bottom: 10px; }
    .dashboard section.news li a {
      padding-left: 10px; }
    .dashboard section.news li:last-child {
      border-bottom: none; }

/*larger than mobile*/
@media (min-width: 600px) {
  .dashboard h4 {
    text-align: left; }
  .dashboard .bar.bottom {
    text-align: right; } }

@media (min-width: 700px) { }

@media (min-width: 960px) {
  .dashboard .user-actions article span {
    display: inline; }
  .dashboard section.trade.history thead, .dashboard section.transfer.notification thead {
    display: table-row-group; }
  .dashboard section.trade.history tr, .dashboard section.transfer.notification tr {
    display: table-row; }
  .dashboard section.trade.history td, .dashboard section.transfer.notification td {
    display: table-cell; }
  .dashboard section.trade.history strong, .dashboard section.transfer.notification strong {
    display: none; }
  .dashboard section.trade.history span, .dashboard section.transfer.notification span {
    text-align: left;
    display: inline; } }

@media (max-width: 959px) { }

[placeholdit] {
  line-height: 93px; }
